{%extends 'base.html'%} {% import 'bootstrap/wtf.html' as wtf%} {% block styles %} {{super()}}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}"> {% endblock %} {%block content%}
<br><br><br><br><br><br><br>
<div class='container bg-info'>
    <div class='button'>
    </div>

    <div class="text-center">
        <h1>we are all living in a crazy world</h1>
        <h3>Women love opportunistically. Men love idealistically</h3>
        <h3> THINK OF YOURSELF AS DEAD ,YOU HAVE LIVED YOUR LIFE NOW TAKE WHAT IS LEFT AND LIVE IT PROPERLY</h3>
        <img src="static/photos/emoji.png">
    </div>
    <h1 class="text-center know" style="color: brown; border: 1px solid green;">an aver evolving world That is:</h1>
    <h1 class="quote">{{quote[1]}}</h1><br>
    <h3 class="text-center">By <em>{{quote[2]}}</em></h3><br>
</div>
{%endblock%}